### List 

1. how to create
2. shorting list
3. mutation

#### list basic

list can be initiated using 

1. []
2. list()

notes

1. list can hold multiple data type
2. list are mutable
3. list are slicable and indexable

#### how to create list

In [1]:
list1 = [] #simple creation

In [2]:
list2 = list() #creating using list function

In [3]:
type(list1)

list

In [4]:
type(list2)

list

#### list can hold multiple form of data

In [6]:
list1 = ['name',7600066621,8.0,8+6j]

In [7]:
print(list1)

['name', 7600066621, 8.0, (8+6j)]

#### len function to calculate size of the list

In [8]:
len(list1)

4

#### creating list using range function

In [11]:
list2 = list(range(1,11))

In [12]:
list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
list2 = list(range(1,11,2))

In [14]:
list2

[1, 3, 5, 7, 9]

In [19]:
list2 = list(range(15,0,-1))

In [20]:
list2

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### list indexing and slicing

In [21]:
list3 = list(range(1,16))

In [22]:
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [24]:
list3[:] #shorting whole list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [25]:
list3[1:11] #slicing, endpoint is not included

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [27]:
list3[:5]

[1, 2, 3, 4, 5]

#### negative indexing

lis[a:b:c]

a= starting point
b = endpoint
c = step

In [28]:
list3[-1]

15

In [29]:
list3[-5:-1]

[11, 12, 13, 14]

In [30]:
list3[-1:-5]

[]

In [31]:
list3[-1:-5:-1]

[15, 14, 13, 12]

In [32]:
list3[10:5]

[]

In [33]:
list3[10:5:-1]

[11, 10, 9, 8, 7]

#### Using extra methods and functions

In [43]:
list_num = [1,2,3,4,5,6]
list_new = []
list_num_sorted = sorted(list_num)

for num in list_num_sorted:
    
    num2 = 1
    
    while num2 <= num:
        
        list_new.append(num)
        num2 += 1

In [44]:
list_new

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6]

#### creating our own append function

In [17]:
def append_list(list_input, list_append):

    try:

        if type(list_input) != list or type(list_append) != list:

            raise Exception('Please enter valid list as input')

    
    except Exception as ex:

        print(f'ERROR : {ex}')

    else:

        list_final = list_input + list_append

        return list_final

In [20]:
append_list([12,3,4],[4,[4,5],5])

[12, 3, 4, 4, [4, 5], 5]

#### calculating average of the list

In [38]:
list_ex = [1,2,3,4,5,6,7,8,9,10]

In [41]:
def list_avg(input_list):

    try:

        if type(input_list) != list:

            raise Exception('please enter valid list as an input')

    except Exception as ex:

        print(ex)

    else:

        sum = 0

        for elem in input_list:

            sum += elem
    
        avg = sum / len(input_list)

        return print(avg)

In [45]:
list_avg([2,3,4,5,])

3.5

True

#### making function for removing sublist

In [53]:
def list_remover(list_input,list_remove):

    starting_point = 0
    ending_point = len(list_remove)
    output_list = []
    while ending_point <= len(list_input):

        if list_input[starting_point:ending_point] == list_remove:

            starting_point += len(list_remove)
            ending_point += len(list_remove)
            
        else:

            output_list.extend(list_input[starting_point:ending_point])
            starting_point += len(list_remove)
            ending_point += len(list_remove)
            
    print(output_list)

In [54]:
list_remover([1,2,3,4,5,6],[1,2])

[3, 4, 5, 6]

### most importent list methods

In [ ]:
## append, it will add the element to the last index of the list


list1 = [1,2,3,4]

list1.append(5) #it ismutable data type and no need to assign again

list1

[1, 2, 3, 4, 5]

In [ ]:
list1.append([6,7]) #append will append it as single elment 

list1

[1, 2, 3, 4, 5, [6, 7]]

In [ ]:
## wxtend method for appendig list

list1 = [1,2,3,4,5]

list1.extend([1])

list1

[1, 2, 3, 4, 5, 1]

In [ ]:
list1.extend([1,2,3,4])
list1

[1, 2, 3, 4, 5, 1, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# clear method to clear list

list1.clear()
list1

[]

In [ ]:
# count in string was returning total number of occurence of elemen
# same her

list1 = [1,2,3,4,5,5,1,2,3,5,1,2,3,1,2,5]
list1.count(3)

3

In [ ]:
### index method similar as string, retunr index of first occurence

list1.index(5)

4

In [ ]:
list1.index(7)

ValueError: 7 is not in list

In [ ]:
### pop method for removing element at specific index , by default -1

list1.pop()
list1

[1, 2, 3, 4, 5, 5, 1, 2, 3, 5, 1, 2, 3, 1]

In [ ]:
list1.pop(3)
list1

[1, 2, 3, 5, 1, 2, 3, 5, 1, 2, 3, 1]

In [ ]:
## while remove method will remove elemtn at first occurence

list1.remove(3)
list1

[1, 2, 5, 1, 2, 3, 5, 1, 2, 3, 1]

In [57]:
## can remove work on multiple elemen

lust2 = [1,2,3,4,5,6,7,8,9]
lust2.remove(4,3)

TypeError: list.remove() takes exactly one argument (2 given)

In [ ]:
list1

[1, 1, 1, 2, 5, 1, 2, 3, 5, 1, 2, 3, 10, 10, 1]

In [ ]:
## insert method for inserting element at specific index

list1.insert(3,10)
list1

[10, 10, 1, 10, 1, 1, 2, 5, 1, 2, 3, 5, 1, 2, 3, 10, 10, 1]

In [ ]:
# reversing list

list1.reverse()
list1

[10, 10, 1, 10, 1, 1, 2, 5, 1, 2, 3, 5, 1, 2, 3, 10, 10, 1]

In [ ]:
### sorting list

list1.sort()
list1

[1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 5, 5, 10, 10, 10, 10, 10]

##### using delete function to remove element and slice from list

In [58]:
list_ex = [1,2,3,4,5,6,7,8,9,10]

del(list_ex[0:4])

list_ex

[5, 6, 7, 8, 9, 10]