# <b> Question 1 : Return the customer IDs of customers who have spent at least $110 with the staff member who has an ID of 2.

# <b> Question 2 :  How many films begin with the letter J?

# <b> Question 3 : What customer has the highest customer ID number whose name starts with an 'E' and has an address ID lower than 500?

##### first of all we will make a datbase connection

In [36]:
import psycopg2 as pg2

In [75]:
connect_dvd = pg2.connect(database='dvdrental', user='postgres', password='')

In [76]:
cursor = connect_dvd.cursor()

##### solving question 1 : Return the customer IDs of customers who have spent at least $110 with the staff member who has an ID of 2

In [63]:
cursor.execute("""

    select customer_id,  sum(amount) from payment
    where staff_id = 2
    group by customer_id
    having sum(amount) >= 110



 """)

In [64]:
cursor.fetchall() # we got two enties with id 187 and 148

[(187, Decimal('110.81')), (148, Decimal('110.78'))]

#### solving problem 2 : How many films begin with the letter J?

In [79]:
cursor.execute(""" 

        select count(*) from film
        where title ilike 'J%'

""")

In [80]:
cursor.fetchone() #there are 20 such films

(20,)

### solving challenge 3 : What customer has the highest customer ID number whose name starts with an 'E' and has an address ID lower than 500

In [85]:
cursor.execute(""" 

        select customer_id, first_name, last_name from customer
        where first_name ilike 'e%' and address_id < 500
        order by customer_id DESC

""")

In [86]:
cursor.fetchone()  # EDDIE have the highest customer id with above conditions 443

(434, 'Eddie', 'Tomlin')