### learning some basic about string

how to use single quote and souble quotes

In [5]:
string1 = 'My name is "hitesh"' # we are using single quote and double quotes inside for quotation
print(string1)

My name is "hitesh"

In [5]:
string2 = "My name is hitesh solanki, this is mayur's watch " # we used single quote inside double quote
print(string2)

My name is hitesh solanki, this is mayur's watch

#### Concatinating strings

In [1]:
a = 'my'
b = ' name'
c = ' is hitesh'

print(a+b+c)

my name is hitesh

In [2]:
## string can not be concatinated with number

a = 'Hitesh'
b = 5

a+b

TypeError: can only concatenate str (not "int") to str

In [3]:
## we have to change the type first

a = 'hitesh'
b = str(b)
a+b

'hitesh5'

#### making funtion to triple each literal

In [9]:
def triple(strn):

    str_new = ''

    for letter in strn:

        str_new += letter * 3

    return print(str_new)

def str_check(string):

    if type(string) != str:

        raise Exception('please enter valid string')

    else:

        return string

In [12]:
try:

    input_string = str_check(input('Please enter string'))

except Exception as ex:

    print(f'ERROR : {ex}')

else:

    triple(input_string)

???ssshhhssskkkhhhsss

### Basic of the string slicing

1. normal slicing
2. steps
3. reverse slicing

In [ ]:
st = 'my name is hitesh'

In [ ]:
st[1]

'y'

In [ ]:
st[0]

'm'

In [ ]:
st[:]

'my name is hitesh'

In [ ]:
st[0:5]

'my na'

In [ ]:
st[-3:-1]

'es'

In [ ]:
st[-5:]

'itesh'

##### steps

In [ ]:
st[::1]

'my name is hitesh'

In [ ]:
st[::2]

'm aei ieh'

##### reverse slicing

In [ ]:
st[::-1]

'hsetih si eman ym'

In [ ]:
st[-1:-5]

''

In [ ]:
st[-1:-5:-1]

'hset'

### iterating over string using for loop

In [6]:
string_1 = "my name is hitesh singh solanki"

In [ ]:
for letter in string_1:

    if letter == ' ':

        pass

    else:

        print(letter)

In [ ]:
for letter in string_1:

    if letter == ' ':

        pass

    else:

        print(letter)

else:

    print('Loop is over')

In [11]:
# using break statement

for letter in string_1:

    if letter == 'h':

        print('We encounter the letter "H" so we can not move forward')
        break

    elif letter == ' ':

        pass

    else:

        print(letter)

else:

    print('The loop is over')

m
y
n
a
m
e
i
s
We encounter the letter "H" so we can not move forward

### using while lopp to iterate over string

In [ ]:
count = 0

while count < len(string_1):

    print(string_1[count])
    count += 1

In [8]:
count = 0

while count < len(string_1):

    if string_1[count] == ' ':
        count += 1
        break
    else:
        print(string_1[count])
        count += 1

else:

    print('the loop is over')

m
y

#### making function which can find the first occurence of letter in string

In [65]:
def string_find(string_input, value_input):

    start_p = 0
    end_p = len(value_input)
    index_list = []

    while end_p <= len(string_input):

        if string_input[start_p:end_p] == value_input:

            if start_p != end_p-1:
                index_list.append([start_p,end_p-1])

            else:
                index_list.append([start_p])

            start_p = start_p + 1
            end_p = end_p + 1

        else:

            start_p = start_p + 1
            end_p = end_p + 1

    return print(index_list)

In [70]:
try:

    input_string = input('Please enter string')
    value_string = input('please enetr value to check')

    if len(input_string) == 0 or len(value_string) == 0:

        raise Exception('please do not neter null string')

    else:

        pass

except Exception as ex:

    print(f'ERROR : {ex}')

else:

    string_find(input_string,value_string)

ERROR : please do not neter null string

### using string methods

##### using find method to find first index of occurence

In [88]:
string = 'my name is hitesh sigh solanki.hitesh singh solanki is good hitman'

print(string.find('hi'))
print(string_find(string,'hi')) #custome function developed by me to find all occurence with index range

11
[[11, 12], [31, 32], [60, 61]]
None

#### using lower, upper and capitalize method of string

In [92]:
print(string)

print(string.capitalize())
print(string.lower())
print(string.upper())

my name is hitesh sigh solanki.hitesh singh solanki is good hitman
My name is hitesh sigh solanki.hitesh singh solanki is good hitman
my name is hitesh sigh solanki.hitesh singh solanki is good hitman
MY NAME IS HITESH SIGH SOLANKI.HITESH SINGH SOLANKI IS GOOD HITMAN

#### other useful methods

In [94]:
'hiTesh solanki'.casefold() #lowe case

'hitesh solanki'

In [102]:
'my name is hitesh'.center(100) #making string center of line

'                                         my name is hitesh                                          '

In [103]:
## count method for counting occurence 

'My name is hitesh'.count('i')

2

In [105]:
### using index method for finding index of first occurence

'my name is hitesh'.find('n')

'my name is hitesh'.index('n')

3

In [110]:
## format method


print('My name is {xx}'.format(xx='Hitesh'))

My name is Hitesh

In [111]:
name = 'hitesh'
print(f'my name is {name}')

my name is hitesh

In [150]:
### method for checking string property

string2 = 'hitesh1'

string2.isalnum()

True

In [149]:
string2.isalpha()

False

In [148]:
string2.isdigit()

False

In [155]:
print(string2.isnumeric())

print('5'.isdigit())

print('2222'.isnumeric())

False
True
True

In [156]:
#### checking lowercase and uppercase

'my name is hitesh'.islower()

True

In [157]:
'My name is hitesh'.isupper()

False

In [158]:
'HITESH'.isupper()

True

In [161]:
### other methods

'my name is hitesh'.partition('hitesh') ## make partition from the word given

('my name is ', 'hitesh', '')

In [162]:
'My name is hitesh'.partition('name')

('My ', 'name', ' is hitesh')

In [167]:
### replace method for replacing specified value

name = 'my name is hitxsh'
name = name.replace('x','e') #because string is not mutable

In [168]:
### split method for spliting from specified value

name.split(' ')

['my', 'name', 'is', 'hitesh']

In [173]:
## strip method for striping spaces

print('my name is hitesh    '.strip())
print('     my name is hitesh   '.rstrip())
print('      my name is hitesh       '.lstrip())

my name is hitesh
     my name is hitesh
my name is hitesh

In [174]:
#ttile method will convert first letter of all word to capital

'my name is hitesh singh solanki'.title()

'My Name Is Hitesh Singh Solanki'

In [177]:
#### misleneous

'my name is hitesh'.zfill(33)

'0000000000000000my name is hitesh'