### for statement for iterable objects

1. it used to loop over iterable objects 
2. like string, list, dicstionary, tuple and more

#### iteration example on string

In [1]:
string = 'My name is hitesh'

In [2]:
for letter in string:
    
    print(letter)

M
y

n
a
m
e

i
s

h
i
t
e
s
h

### removing spaces using for loop

In [3]:
string = 'my name is hitesh'

In [5]:
new_letter = ''
for letter in string:
    
    if letter == ' ':
        pass
    else:
        new_letter += letter
        
new_letter

'mynameishitesh'

### using break and continue

1. continue will restart the loop and else staement will execute after loop fails
2. while break will stop the loop from executing and else will not execute

In [7]:
for letter in string:
    
    if letter == 'h':
        continue
    else :
        
        print(letter)
else:
    print(f'the last letter is : {letter}')
    print('i am gona execute at last')

m
y

n
a
m
e

i
s

i
t
e
s
the last letter is : h
i am gona execute at last

In [10]:
#Break statement

for letter in string:
    
    if letter == 'h':
        break
    else:
        print(letter)
else:
    
    print(f'The last letter is {letter}')
    print('Final statement')

m
y

n
a
m
e

i
s

### making star patter using for loop

In [13]:
def starloop(n = 5):
    
    for star in range(1,n+1):
        
        print('*'*star)

In [18]:
starloop()

*
**
***
****
*****

In [22]:
def starloop2(n = 5):
    
    star = 1
    
    while star <= n:
        
        print('*'*star)
        star += 1

In [26]:
starloop2()

*
**
***
****
*****

In [60]:
def revstarloop(n = 5):
    
    for star in range(n,-1,-1):
        space = n-star
        print(' '*space +'* '*star)

In [62]:
revstarloop(10)

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [70]:
def forwloop(n = 5):
    
    for star in range(1,n+1):
        space = n - star
        print(' '*space + '* '*star)

In [71]:
forwloop()

    *
   * *
  * * *
 * * * *
* * * * *